<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="shortcut icon" href="" type="image/x-icon">

    <title>BAR DO NEGO </title>
    
</head>




<body>
    <!-- NAVBAR -->
    <div class="navbar">
        <div class="content">
            <a href="static/img/breja.png" id="logo">bar</a>

            <a href="/cart" class="cart-link">
                <span class="iconify-inline cart-icon" data-icon="mdi:cart-variant"></span>
                <div class="cartNotify"></div>
            </a>
            
            
           
            
            <!-- PC -->
            <div class="items">
                <a href="#about">
                    Sobre
                </a>
                <a href="#menu">
                    Cardápio
                </a>
                <a href="#promotions">
                    Promoções
                </a>
                <a href="#service">
                    Atendimento
                </a>
            </div>
            <div class="icons">
                <a href="./view/cart.html">
                    <span class="iconify-inline" data-icon="mdi:cart-variant"></span>
                    <div class="cartNotify"></div>
                </a>
                <a href="#" class="whatsapp">
                    <span class="iconify-inline" data-icon="akar-icons:whatsapp-fill"></span>
                </a>
            </div>
            <!-- MOBILE -->
            <div class="btnMobile">
                <span class="iconify-inline" data-icon="mdi:beer" style="color: rgb(0, 0, 0);"></span>
            </div>
        </div>
        <div class="itemsMobile">
            <a href="#about">
                Sobre
            </a>
            <a href="#menu">
                Cardápio
            </a>
            <a href="#promotions">
                Promoções
            </a>
            <a href="#service">
                Atendimento
            </a>
            <div class="icons">
                <a href="./view/cart.html">
                    <span class="iconify-inline" data-icon="mdi:cart-variant"></span>
                    <div class="cartNotify"></div>
                </a>
                <a href="#" class="whatsapp">
                    <span class="iconify-inline" data-icon="akar-icons:whatsapp-fill"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- BANNER -->
    <div class="banner">
        <div class="bannerContent">
            <div>
                <h1>BAR DO  <span>NEGO</span></h1>
                <p id="subtitle">bar que o  preço  cabe no seu bolso? Clique no
                    botão abaixo e peça já!</p>
                <a href="#menu" class="btn">Cardápio</a>
                <div class="social">
                    <a href="#">
                        <span class="iconify" data-icon="brandico:facebook"></span>
                    </a>
                    <a href="#">
                        <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
                    </a>
                    <a href="#">
                        <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
                    </a>
                </div>
            </div>
            <img src="static/img/breja.png" alt="Imagem de um lanche">
        </div>
    </div>
    <!-- ITEMS -->
    <div class="items container">
        <div class="cardItems">
            <span class="iconify" data-icon="ph:tote-duotone"></span>
            <h4>Escolha os produtos</h4>
            <p>Escolha todos os produtos que deseja comprar clicando no botão 'Adicionar'.</p>
        </div>
        <div class="cardItems">
            <span class="iconify" data-icon="ph:circle-wavy-check-duotone"></span>
            <h4>Verifique o carrinho</h4>
            <p>Verifique se todos os produtos estão no carrinho de compras.</p>
        </div>
        <div class="cardItems">
            <span class="iconify" data-icon="ph:wallet-duotone"></span>
            <h4>Envie o pedido</h4>
            <p>Após verificar os itens, você enviará o pedido no WhatsApp da lanchonete com um simples clique.</p>
        </div>
    </div>
    <!-- ABOUT MENU ONLINE -->
    <div id="about">
        <div class="container">
            <h3>Cardápio online</h3>
            <p>Seja bem-vindo ao cardápio online da lanchonete <span>BAR DO NEGO </span>!</p>
            <p>Este aplicativo web tem o intuito de facilitar os pedidos, possibilitando uma seleção prática e rápida
                dos produtos desejados e enviando-os para o WhatsApp da BAR, aumentando seu conforto e
                simplificando o pedido!</p>
        </div>
    </div>
    <!-- MENU -->
    <div id="menu" class="container">
        <h3>Cardápio</h3>
        <div class="linksMenu">
            <button href="#" class="linkMenu active" id="showAll">Tudo</button>
            <button href="#" class="linkMenu" id="showSnacks">Limpeza</button>
            <button href="#" class="linkMenu" id="showCombos">Biscoitos e Salgadinhos</button>
            <button href="#" class="linkMenu" id="showPortions">Congelados</button>
            <button href="#" class="linkMenu" id="showDrinks">Brejas</button>
            <a href="#promotions" class="linkMenu"></a>
        </div>
        <div class="cardsMenu" id="showMenu">
            <!-- ITEMS MENU -->
        </div>
    </div>
    <!-- PROMOTIONS 
    <div id="promotions">
        <div class="container">
            <h3>Promoções do dia</h3>
            <div class="cardsMenu" id="showPromotions">
                 ITEMS MENU -->
            </div>
        </div>
    </div>
    <!-- SERVICE -->
    <div id="service" class="container">
        <h3>Atendimento</h3>
        <div class="locAndCont">
            <div class="cardLAC">
                <div class="circle">
                    <span class="iconify-inline" data-icon="akar-icons:location"></span>
                </div>
                <p>Rua santa isabel, nº 219<br>compensa 1 (AM)</p>
            </div>
            <div class="cardLAC">
                <div class="circle">
                    <span class="iconify-inline" data-icon="akar-icons:phone"></span>
                </div>
                <p>Telefone de contato e Whatsapp<br>(92) 9383-6648</p>
            </div>

        </div>
        <div class="days">
            <div class="cardDays">
                <h5>Dom</h5>
                <p>13h às 22h</p>
            </div>
            <div class="cardDays">
                <h5>Seg</h5>
                <p>13h às 22h</p>
            </div>
            <div class="cardDays">
                <h5>Ter</h5>
                <p>13h às 22h</p>
            </div>
            <div class="cardDays">
                <h5>Qua</h5>
                <p>13h às 22h</p>
            </div>
            <div class="cardDays">
                <h5>Qui</h5>
                <p>13h às 22h</p>
            </div>
            <div class="cardDays">
                <h5>Sex</h5>
                <p>13h às 22h</p>
            </div>
            <div class="cardDays">
                <h5>Sáb</h5>
                <p>13h às 22h</p>
            </div>
        </div>
    </div>
    <!-- MAP -->
    
    <!-- FOOTER -->
    <div class="footerTop">
        <div class="content">
            <p id="logo"> bar do nego</p>
            <div>
                <h4>Quem somos</h4>
                <p>Somos uma empresa do ramo alimentício presente no mercado desde 2015 com serviços e produtos de ótima
                    qualidade.</p>
            </div>
            <div class="links">
                <h4>Links úteis</h4>
                <a href="https://maps.app.goo.gl/Jy6nE3qPpK9nYzmG8">localizaçao</a>
              
            </div>
        </div>
    </div>
    <div class="footerBottom">
        <div class="content">
            <p>BAR NEGO 2024  &copy; Todos os direitos reservados.</p>
            <div class="social">
                <a href="#">
                    <span class="iconify" data-icon="brandico:facebook"></span>
                </a>
                <a href="#">
                    <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
                </a>
                <a href="#">
                    <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
                </a>
            </div>
        </div>
    </div>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="static/js/products.js"></script>
    <script src="static/js/cart.js"></script>
    <script src="static/js/menu.js"></script>
    <script src="static/js/navbar.js"></script>
</body>

</html>